@page
@model WCR.Pages.PresenterModel
@{
	ViewData["Title"] = "Presentation";
}
<div id="presentation-container"></div>

@section Scripts
{
	<script type="text/javascript">$(document).ready(InitializePresenter);</script>
}