@page
@model WCR.Pages.ViewerModel
@{
	ViewData["Title"] = $"Presentation: {ViewData["presentationid"]}";
}
<div class="wrapper">
	<div id="presentation-container"></div>
	<div id="transcription-list-container">Transcriptions<hr /></div>
</div>

@section Scripts
{
	<script type="text/javascript">$(document).ready(InitializeViewer);</script>
}