@page
@model WCR.Pages.ViewerModel
@{
}
<div class="wrapper">
	<div id="presentation-container"></div>
	<div id="transcription-list-container">Foobar</div>
</div>

@section Scripts
{
	<script type="text/javascript">$(document).ready(InitializeViewer);</script>
}